{
	"presets": [
		"@parcel/babel-preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"@parcel/babel-plugin-transform-runtime",
		"@babel/plugin-proposal-class-properties"
	],
	"env": {
		"development": {
			"plugins": [
				["istanbul", {
					"coverageGlobalScopeFunc": false
				}]
			]
		}
	}
}