# Recommended IDEA files to ignore as per https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/shelf
# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.xml
/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/
# Phpstorm files for php
/.idea/php.xml
# Plugins
/.idea/GitLink.xml

dist
lib
node_modules
.cache
ssl
/.parcel-cache/
/.npmrc

# Testing & Code Coverage
/.nyc_output/
/coverage/
/cypress/videos
/cypress.local.json
