.menu {
	display: block;
	width: 36px;
	height: 100%;
	padding: 0 6px;
	margin-left: 5px;
	cursor: pointer;
	float: left;
	font-size: 24px;
	grid-column: 1;
	grid-row: 1;
}

.minimize {
	display: block;
	width: 32px;
	height: 100%;
	padding-bottom: 6px;
	margin: auto;
	cursor: pointer;
	float: right;
	font-size: 22px;
	grid-column: 1;
	grid-row: 1;
}

.close {
	width: 32px;
	height: 100%;
	margin: auto;
	cursor: pointer;
	float: right;
	font-size: 24px;
	grid-column: 2;
	grid-row: 1;
}
