.menu {
	font-size: 24px;
	-ms-grid-column: 1;
	grid-column: 1;
	-ms-grid-row: 1;
	grid-row: 1;
	float: left;
	margin-left: 5px;
	height: 100%;
	cursor: pointer;
	padding: 0 6px;
	display: block;
	width: 36px;
}
.minimize {
	font-size: 22px;
	-ms-grid-column: 1;
	grid-column: 1;
	-ms-grid-row: 1;
	grid-row: 1;
	float: right;
	margin: auto;
	height: 100%;
	cursor: pointer;
	display: block;
	width: 32px;
	padding-bottom: 6px;
}
.close {
	font-size: 24px;
	-ms-grid-column: 2;
	grid-column: 2;
	-ms-grid-row: 1;
	grid-row: 1;
	float: right;
	margin: auto;
	height: 100%;
	cursor: pointer;
	width: 32px;
}