.center {
	color: var(--parley-info-color, #535353);
	font-family: var(--parley-info-font, --parley-font, 'OpenSans', sans-serif);
	font-size: var(--parley-info-font-size, 14px);
	font-weight: var(--parley-info-font-weight, 200);
	text-align: center;
}

.center p {
	margin: 0;
}

.announcement {
	padding: 10px 0;
	border: none;
	margin: 0 40px;
}
