.container {
	margin: 10px 0;
	text-align: center;
}
.date {
	display: inline-block;
	height: 14px;
	line-height: 15px;
	border-bottom: 1px solid var(--date-color, #404040);
	padding: 0 5px;
	color: var(--date-color, #404040);
	font-size: 11px;
}