.messageBubble {
	margin: 10px 0;
	text-align: center;
}

.date {
	display: inline-block;
	height: 15px;
	padding: 0 5px;
	border-bottom: 1px solid var(--parley-date-color, #404040);
	color: var(--parley-date-color, #404040);
	font-size: 11px;
	line-height: 15px;
}
