.header {
	z-index: 1998;
	top: 0;
	display: grid;
	margin: 0;
	background-color: var(--parley-nav-background-color, #4A5E83);
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 3px 0 rgba(74, 94, 131, 0.07);
	grid-template-columns: 0.4fr 1fr 0.5fr;
	grid-template-rows: 100%;
	text-align: center;
}

.header button {
	border: none;
	background-color: transparent;
	color: var(--parley-button-label-color, #FFF);
	font-family: var(--parley-button-label-font, --parley-font, 'OpenSans', sans-serif);
	font-size: var(--parley-button-label-font-size, 24px);
	font-weight: var(--parley-button-label-font-weight, 400);
}

.left {
	display: grid;
	grid-column: 1;
	grid-row: 1;
	grid-template-columns: auto;
	grid-template-rows: 100%;
}

.title {
	display: inline-block;
	padding: 0 9px;
	color: var(--parley-nav-title-color, #FFF);
	font-family: var(--parley-nav-title-font, --parley-font, 'OpenSans', sans-serif);
	font-size: var(--parley-nav-title-font-size, 14px);
	font-weight: var(--parley-nav-title-font-weight, 400);
	grid-column: 2;
	grid-row: 1;
	line-height: 45px;
}

.right {
	display: grid;
	grid-column: 3;
	grid-row: 1;
	grid-template-columns: auto;
	grid-template-rows: 100%;
}
