.header {
	width: 300px;
	border-radius: 5px 5px 0 0;
	text-align: center;
	top: 0;
	z-index: 1998;
	margin: 0;
	background-color: #4A5E83;
	color: #FFF;
	box-shadow: 0 1px 3px 0 rgb(74 94 131 / 7%);
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: .4fr 1fr .5fr;
	grid-template-columns: .4fr 1fr .5fr;
	-ms-grid-rows: 100%;
	grid-template-rows: 100%;
}
.headerButton {
	width: 20px;
	height: 20px;
	float: right;
	margin: 0 5px 0 0;
	padding: 0 6px;
	cursor: pointer;
	position: relative;
}