.launcher {
	position: fixed;
	z-index: calc(var(--parley-base-z-index, 100) + 1);
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
}

.launcher button {
	position: absolute;
	bottom: 0;
	width: 55px;
	height: 55px;
	border: none;
	background: var(--parley-messenger-icon-background-color, #4A5E83);
	border-radius: 50%;
	box-shadow: var(--parley-shadow, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
	cursor: pointer;
	text-align: center;
	transform: translateZ(0);
}
