:root {
	--message-border-radius: 10px;
}

/* region Container */
.messageBubble {
	display: block;
	padding: 0 30px;
	margin-bottom: 10px;
}

.messageBubble::before,
.messageBubble::after {
	display: table;
	content: "";
}

.messageBubble::after {
	clear: both;
}

.messageBubble.agent {
	display: grid;
	grid-template-columns: max-content;
	grid-template-rows: auto auto;
}

/* endregion */

/* region Message */
.message {
	--message-max-width: 190px;

	position: relative;
	display: grid;
	max-width: var(--message-max-width);
	padding: 8px;
	border-radius: var(--message-border-radius);
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	hyphens: auto;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
	word-wrap: break-word;
}

.message h2,
.message p {
	margin: 0.2em 0;
}

.message a {
	background-color: transparent;
	color: var(--parley-link-color, #2E2EFF);
	font-family: var(--parley-link-font, --parley-font, 'OpenSans', sans-serif);
	font-size: var(--parley-link-font-size, 14px);
	font-weight: var(--parley-link-font-weight, 400);
	text-decoration: underline;
}

.user .message {
	background-color: var(--parley-user-background-color, #4A5E83);
	border-bottom-right-radius: 0;
	color: var(--parley-user-text-color, #FFF);
	float: right;
}

.agent .message {
	background: var(--parley-account-background-color, #E7E3E0);
	border-top-left-radius: 0;
	color: var(--parley-account-text-color, #535353);
	float: left;
}

.name {
	padding: 0 0 5px;
	color: var(--parley-agent-name-color, rgba(0, 0, 0, 0.68));
	font-family: var(--parley-agent-name-font, --parley-font, 'OpenSans', sans-serif);
	font-size: var(--parley-agent-name-font-size, 13px);
	font-weight: var(--parley-agent-name-font-weight, 400);
}

/* endregion */

/* region Time */
.time {
	display: block;
	padding-top: 5px;
	clear: both;
	font-size: 10px;
	text-align: right;
}

/* endregion */
