.button {
	display: block; /* Makes sure our buttons are shown from top to bottom */
	width: 100%;
	padding: 5px;
	border: none;
	border: 1px;
	border-style: solid;
	border-color: var(--parley-link-color, #4891F5);
	margin: 0.3em 0;
	background: inherit;
	border-radius: 10px;
	color: var(--parley-link-color, #4891F5);
	cursor: pointer; /* Somehow these buttons don't have this as the default */
}

.button[disabled] {
	opacity: 0.4;
}
