:root{
	font-family: OpenSans,sans-serif;
	font-size: 14px;
	font-weight: 400;
}
*, ::after, ::before {
	box-sizing: border-box;
}
button {
	font-size: 24px;
}
.chat {
	width: 300px;
	height: 500px;
	max-height: 80%;
	min-height: 300px;
	bottom: 90px;
	right: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	position: fixed;
	z-index: 2002;
	background: #FFF;
	font-family: OpenSans,sans-serif;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: 45px minmax(0,1fr) auto;
	grid-template-rows: 45px minmax(0,1fr) auto;
	transform: scale(1);
	transform-origin: bottom right;
	transition: transform 250ms ease-in-out,opacity .1s linear 150ms;
}